<nav class="navbar navbar-expand-lg navbar-dark bg-primary"> <!--Início da navegação-->
    <div class="container"> <!--Início do container-->
        <a class="navbar-brand" href="/">
            GuiaPress
        </a>
    
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/admin/categories" class="nav-link">Categorias</a>
            </li>
            <li class="nav-item">
                <a href="/admin/articles" class="nav-link ml-2">Artigos</a>
            </li>
            
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/logout" class="nav-link ml-2">Logout</a>
            </li>
        </ul>
        
    </div> <!--Fim do container-->
    

</nav> <!--Fim da navegação-->
